{{ define "main" }}

{{ "<!-- Home Image with Logo Text -->" | safeHTML }}
<div class="w3-display-container" style="max-height:600px; overflow:hidden;">

  {{ "<!-- Hero Image -->" | safeHTML }}
  <img src="{{ .Site.Params.siteImage }}" class="w3-image">

  <div class="w3-container w3-display-bottomright cc-std-font w3-text-black w3-large">
    <p>{{ with .Site.Params.siteImageCredit }}<span>Photo Credit: <b>{{ . }}</b></span>{{ end }}</p>
  </div>

</div>

<div class="w3-container" style="margin-left:10%">

  <div class="w3-text-theme w3-border-bottom w3-padding-large w3-white" style="font-size:4vw">{{ .Page.Params.title }}</div>
  
  <div class="w3-text-theme w3-white w3-padding-large">{{ .Content }}</div>

</div>


<!-- Sidebar/menu 

<div class="w3-sidebar" style="z-index:3;width:20%;font-weight:bold;" id="mySidebar"><br>
  
  <div class="w3-bar-block">

    <div class="w3-container w3-padding w3-large cc-hero-font">
      <b>{{ .Site.Params.biosidebar.name }}</b><br/>
    </div>
    
    <div class="w3-container w3-padding w3-medium cc-std-font">
      {{ .Site.Params.biosidebar.description }}<br/>
    </div>
    
    <div class="w3-container w3-padding cc-std-font">

      {{ range .Site.Params.biosidebar.links }}
        <a class="w3-button w3-hover-theme w3-padding" href="{{ .url | safeURL }}">
        <i class="{{ .icon }}"></i> {{ .name }} </a>
        <br/>
      {{ end }}
  
    </div>

    
  </div>
</div>

<div class="w3-row" style="margin-left:20%">

  <div class="w3-col m2 w3-text-theme">
    
    <div class="w3-container w3-padding w3-large cc-hero-font">
      <b>{{ .Site.Params.biosidebar.name }}</b><br/>
    </div>
    
    <div class="w3-container w3-padding w3-medium cc-std-font">
      {{ .Site.Params.biosidebar.description }}<br/>
    </div>
    
    <div class="w3-container w3-padding cc-std-font">

      {{ range .Site.Params.biosidebar.links }}
        <a class="w3-button w3-hover-theme w3-padding" href="{{ .url | safeURL }}">
        <i class="{{ .icon }}"></i> {{ .name }} </a>
        <br/>
      {{ end }}
  
    </div>

  </div>

  <div class="w3-container w3-col m8">

    <h2 class="cc-hero-font w3-text-theme w3-xxxlarge">{{ .Page.Params.title }}</h2>
    
    <div class="cc-std-font w3-large w3-text-theme">{{ .Content }}</div>
  
  </div>

</div>

-->
{{ end }}
