<div class="w3-container w3-row sapling-theme-2">
  &nbsp;
</div>
<div class="w3-container w3-row sapling-theme-1 w3-padding-32">

  <div class="w3-col m4">

    <span class="fondamento sapling-text-dark" style="font-size:2vw">
    {{ .Site.Params.companyName }}  
    </span>
    <br />
    <span class="sapling-text-dark" style="font-size:1.5vw">
    {{ .Site.Params.streetaddress }}  
    </span>
    <br />
    <span class="sapling-text-dark" style="font-size:1.5vw">
    {{ .Site.Params.city }}  
    </span>
    <br />
    <span style="font-size:1.5vw">
    {{ .Site.Params.footer.description }}  
    </span>
	  
  </div>

  <div class="w3-col m4 w3-center">

    For More Information!
    <br />
    Contact us at:
    <br />
    {{ range .Site.Params.contact }}
      <a class="w3-center w3-padding"> <i class={{ .icon }}></i> {{ .contact }} </a><br />
    {{ end }}

  </div>

  <div class="w3-col m4 w3-center">

    <span style="font-size:1.5vw"> Find us! </span>
    <br />
    {{ range .Site.Params.footer.links }}
      <a class="w3-button sapling-theme-hover w3-padding" href="{{ .url | safeURL }}">
        <i class="{{ .icon }}"></i>
        {{ .name }}
      </a>
    {{ end }}
  
</div>
