{{ "<!-- Header -->" | safeHTML }}
<div class="w3-container w3-top">
  
  {{ "<!-- Contact Information Bar (sits on very top) -->" | safeHTML }}
  <div class="w3-container w3-row w3-stretch sapling-theme-2" style="max-height:40px">
    <div class="w3-container w3-half">
	  <a class="w3-left w3-padding"> <i class="far fa-envelope"></i> Conveniently located in {{ .Site.Params.location }} </a>
	</div>
	<div class="w3-container w3-rest w3-stretch test-theme">
      {{ range .Site.Params.contact }}
        <a class="w3-right w3-padding"> <i class={{ .icon }}></i> {{ .contact }} </a>
      {{ end }}
    </div>
  </div>

  {{ "<!-- Title and Menu Bar -->" | safeHTML }}
  <div class="w3-container w3-row w3-stretch sapling-theme-1 w3-card-4" style="max-height:60px">
  
    {{ "<!-- Logos -->" | safeHTML }}
    <div class="w3-container w3-half w3-padding-large w3-left">
	  
      {{ "<!-- Large Logo -->" | safeHTML }}
      <a id="LargeLogo" href="{{ "/" }}"><img src="{{ .Site.Params.logoImage }}" class="w3-image w3-card w3-white w3-animate-opacity" style="max-width:200px;"></img></a>
  
      {{ "<!-- Small Logo -->" | safeHTML }}
      <div id="SmallLogo" class="w3-hide">
        <a href="{{ "/" }}"><img src="{{ .Site.Params.iconImage }}" class="w3-image w3-animate-opacity" style="max-width:60px;"></img></a>
		    <a href="{{ "/" }}" class="fondamento sapling-theme-1 w3-animate-opacity" style="font-size:2vw;text-decoration:none;">  {{ .Site.Params.companyName }}</a>
      </div>

    </div>
    
    {{ "<!-- Menu -->" | safeHTML }}
    <div class="w3-container w3-rest w3-padding w3-right" style="overflow:visible">
      <div class="w3-container">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <div class="w3-dropdown-hover">
                <div class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a class="w3-btn w3-round-large sapling-theme-2 sapling-theme-hover" style="font-size:1.2vw" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                </div>
                <div class="w3-dropdown-content w3-bar-block w3-animate-zoom">
                  {{ range .Children }}
                    <div class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                      <a href="{{ .URL }}" class="w3-bar-item w3-button sapling-theme-4 sapling-theme-hover w3-center">{{ .Name }}</a>
                    </div>
                  {{ end }}
                </div>
              </div>
            {{ else }}
                <a class="w3-btn w3-round-large sapling-theme-2 sapling-theme-hover" style="font-size:1.2vw" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
      </div>
    </div>
  
  </div>

</div>

<script>
// Hidden Logo Script
// When the user scrolls down 50px from the top of the document, resize the header's font size
window.onscroll = function() {scrollFunction(),myShow()};

function scrollFunction() {
  var x = document.getElementById("LargeLogo");
  var y = document.getElementById("SmallLogo");
  
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50)
    {
      if (x.className.indexOf("w3-hide") == -1) 
        { 
          x.className += " w3-hide";
          y.className = x.className.replace(" w3-hide", "");
        }
    } 
  
  else
    {
      x.className = x.className.replace(" w3-hide", "");
      y.className += " w3-hide";
    }
}

// Clickable Menu Dropdown
function MenuDropdown() {
  var m = document.getElementById("MenuDrop");
  if (m.className.indexOf("w3-show") == -1) {
    m.className += " w3-show";
  } else { 
    m.className = m.className.replace(" w3-show", "");
  }
}

</script>
